<configuration scan="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- https://github.com/logstash/logstash-logback-encoder -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <logger name="com.brimarx" level="${LOGLEVEL_APP}" />

    <root level="${LOGLEVEL_SRV}">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
